---
import course1 from "@assets/images/courses/course-1.png";
import course2 from "@assets/images/courses/course-2.png";
import course3 from "@assets/images/courses/course-3.png";
import course4 from "@assets/images/courses/course-4.png";
import course5 from "@assets/images/courses/course-5.png";
import course6 from "@assets/images/courses/course-6.png";
import course7 from "@assets/images/courses/course-7.png";
import course8 from "@assets/images/courses/course-8.png";
import course9 from "@assets/images/courses/course-9.png";
import course10 from "@assets/images/courses/course-10.png";
import course11 from "@assets/images/courses/course-11.png";
import course12 from "@assets/images/courses/course-12.png";
import course13 from "@assets/images/courses/course-13.png";
import course14 from "@assets/images/courses/course-14.png";
import course15 from "@assets/images/courses/course-15.png";
import course16 from "@assets/images/courses/course-16.png";
import course17 from "@assets/images/courses/course-17.png";
import course18 from "@assets/images/courses/course-18.png";
import course19 from "@assets/images/courses/course-19.png";
import course20 from "@assets/images/courses/course-20.png";
import CardCourse from "@components/shared/Cards/CardCourse.astro";

const { expanded } = Astro.props;
---

<div class="row">
  <div class="col-1">
    <CardCourse img={course12.src}>
      <Fragment slot="category">Disayn</Fragment>
      <Fragment slot="subtitle">Ikrombek Izzatilayev</Fragment>
      <Fragment slot="title">
        UX/UI dizayning boshalang‘ich ko‘nikmalari kursi
      </Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course11.src}>
      <Fragment slot="category">Tarix</Fragment>
      <Fragment slot="subtitle">Sardor Yusupov</Fragment>
      <Fragment slot="title">Jahon tarix bo‘yicha darslik to‘plami</Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course10.src}>
      <Fragment slot="category">Ingliz tili</Fragment>
      <Fragment slot="subtitle">Akbar Ismatullayev</Fragment>
      <Fragment slot="title">
        Ingliz tilidan IELTS tayyorgalik darslari
      </Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course9.src}>
      <Fragment slot="category">ALGEBRA</Fragment>
      <Fragment slot="subtitle">Anvar Yoqubov</Fragment>
      <Fragment slot="title">Algebra fanidan 11-sinf ko‘nikmalari</Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course1.src}>
      <Fragment slot="category">Biologiya</Fragment>
      <Fragment slot="subtitle">Izzatbek Jonabekov</Fragment>
      <Fragment slot="title">
        Biologiya fanidan 11-sinf dasturi darslari
      </Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course2.src}>
      <Fragment slot="category">DASTURLASH</Fragment>
      <Fragment slot="subtitle">Abbos Fayzullayev</Fragment>
      <Fragment slot="title">
        HTML va CSS da dasturlashning boshlang‘ich ko‘nikmalari
      </Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course3.src}>
      <Fragment slot="category">RUS TILI</Fragment>
      <Fragment slot="subtitle">Izzat Abdulayev</Fragment>
      <Fragment slot="title">Rus tilidan to‘liq grammatika darslari</Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course4.src}>
      <Fragment slot="category">dasturlash</Fragment>
      <Fragment slot="subtitle">Suhrob Qudratov</Fragment>
      <Fragment slot="title">Javascriptga doir darslar to‘plami</Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course5.src}>
      <Fragment slot="category">geometriya</Fragment>
      <Fragment slot="subtitle">Shohnur Kudratbekov</Fragment>
      <Fragment slot="title">
        Geometriya fanidan boshlang‘ich tushuncha
      </Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course6.src}>
      <Fragment slot="category">ona tili</Fragment>
      <Fragment slot="subtitle">G‘ayrat Qobilov</Fragment>
      <Fragment slot="title">Ona tilidan to‘liq qoidalar darslari</Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course7.src}>
      <Fragment slot="category">Tarix</Fragment>
      <Fragment slot="subtitle">Izzat Abdulayev</Fragment>
      <Fragment slot="title">
        IX - XX asrlar oralig‘idagi buyuk shoirlarga doir darslar
      </Fragment>
    </CardCourse>
  </div>
  <div class="col-1">
    <CardCourse img={course8.src}>
      <Fragment slot="category">Tarix</Fragment>
      <Fragment slot="subtitle">Anvar Yoqubov</Fragment>
      <Fragment slot="title">
        AQSH davlatining kelib chiqish va rivojlanishi
      </Fragment>
    </CardCourse>
  </div>
  {
    expanded && (
      <div class="col-1">
        <CardCourse img={course13.src}>
          <Fragment slot="category">Biologiya</Fragment>
          <Fragment slot="subtitle">Izzatbek Jonabekov</Fragment>
          <Fragment slot="title">
            Biologiya fanidan 11-sinf dasturi darslari
          </Fragment>
        </CardCourse>
      </div>
      <div class="col-1">
        <CardCourse img={course14.src}>
          <Fragment slot="category">DASTURLASH</Fragment>
          <Fragment slot="subtitle">Abbos Fayzullayev</Fragment>
          <Fragment slot="title">
            HTML va CSS da dasturlashning boshlang‘ich ko‘nikmalari
          </Fragment>
        </CardCourse>
      </div>
      <div class="col-1">
        <CardCourse img={course15.src}>
          <Fragment slot="category">RUS TILI</Fragment>
          <Fragment slot="subtitle">Izzat Abdulayev</Fragment>
          <Fragment slot="title">Rus tilidan to‘liq grammatika darslari</Fragment>
        </CardCourse>
      </div>
      <div class="col-1">
        <CardCourse img={course16.src}>
          <Fragment slot="category">dasturlash</Fragment>
          <Fragment slot="subtitle">Suhrob Qudratov</Fragment>
          <Fragment slot="title">Javascriptga doir darslar to‘plami</Fragment>
        </CardCourse>
      </div>
      <div class="col-1">
        <CardCourse img={course17.src}>
          <Fragment slot="category">geometriya</Fragment>
          <Fragment slot="subtitle">Shohnur Kudratbekov</Fragment>
          <Fragment slot="title">
            Geometriya fanidan boshlang‘ich tushuncha
          </Fragment>
        </CardCourse>
      </div>
      <div class="col-1">
        <CardCourse img={course18.src}>
          <Fragment slot="category">ona tili</Fragment>
          <Fragment slot="subtitle">G‘ayrat Qobilov</Fragment>
          <Fragment slot="title">Ona tilidan to‘liq qoidalar darslari</Fragment>
        </CardCourse>
      </div>
      <div class="col-1">
        <CardCourse img={course19.src}>
          <Fragment slot="category">Tarix</Fragment>
          <Fragment slot="subtitle">Izzat Abdulayev</Fragment>
          <Fragment slot="title">
            IX - XX asrlar oralig‘idagi buyuk shoirlarga doir darslar
          </Fragment>
        </CardCourse>
      </div>
      <div class="col-1">
        <CardCourse img={course20.src}>
          <Fragment slot="category">Tarix</Fragment>
          <Fragment slot="subtitle">Anvar Yoqubov</Fragment>
          <Fragment slot="title">
            AQSH davlatining kelib chiqish va rivojlanishi
          </Fragment>
        </CardCourse>
      </div>
    )
  }
</div>
