---
import Header from "@/layouts/Header.astro";
import VerticalNav from "@components/shared/VerticalNav/VerticalNav.astro";
import VerticalNavItem from "@components/shared/VerticalNav/VerticalNavItem.astro";
import "./../styles/scss/index.scss";
import Icons from "@components/blocks/Icons.astro";
import Scripts from "@components/blocks/Scripts.astro";

const { title, page } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="body-full-h">
    <Header profile />
    <div class="profile-wrapper bg-background flex-grow">
      <div class="container-wrapper py-40">
        <h1 class="profile-page-title">{title}</h1>
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <aside>
              <VerticalNav>
                <VerticalNavItem icon="notebook " link="" active={page}>
                  Mening Kurslarim
                </VerticalNavItem>
                <VerticalNavItem
                  icon="doc-verified"
                  link="certificates"
                  active={page}>
                  Sertifikatlarim
                </VerticalNavItem>
                <VerticalNavItem icon="wallet" link="balance" active={page}>
                  To‘lovlar
                </VerticalNavItem>
                <VerticalNavItem icon="device" link="devices" active={page}>
                  Qurilmalar
                </VerticalNavItem>
                <VerticalNavItem icon="tune" link="settings" active={page}>
                  Sozlamalar
                </VerticalNavItem>
              </VerticalNav>
            </aside>
          </div>
          <div class="col-lg-9 col-md-8">
            <main class="profile-content">
              <slot />
            </main>
          </div>
        </div>
      </div>
    </div>
    <Icons />
    <Scripts />
  </body>
</html>
